<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Text To Braille</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" 
     integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" 
     crossorigin="anonymous" />
</head>
<body>
<!-- UPLOAD IMAGE -->
<div>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" class="custom-file-input" name="image" id="image">
    <label for="image">Select image...</label>
    <button type="submit" class="btn btn-primary">Upload</button>
  </form>
</div>
<!-- UPLOAD IMAGE END -->
  <img src="{{ uploaded }}" alt="">
     <div class="container">
          <h3>Testing app</h3>
     </div>

<!-- EXPERIMENTAL  -->
     <div class="aler">
      <a href= /scan>
        <button action="/scan" type="submit">Scan Image</button>
      </a>
<br>
<!-- SamBam33 was here -->
      <form action="/send" method="POST">
        {% if ispt %}
        <textarea name="changedtext">
          {{ pt }}
        </textarea>

        {% elif not ispt %}
        <textarea name="changedtext">
          {{ et }}
        </textarea>
          
          {% endif %}
         
         <button type="submit"></button>
        </form>
<!-- SamBam33 was here -->

    </div>


<!-- Working Braille Printing -->
            <div class="aler">
              <a href= /send>
                <button action="/send" type="submit">Show Braille Text</button>
              </a>
        <br>
              
              <textarea>
                {{pt}}
               </textarea>
               <textarea>
                {{et}}
               </textarea>
               <textarea>
                {{hop}}
                {{t}}
               </textarea>
            </div>

            
            <!-- <p>Test</p>
            {{ uploaded }}
         -->
</body>
</html>