textarea::-webkit-scrollbar {
  width: 1em;
}
textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
textarea::-webkit-scrollbar-thumb {
  background-color: #333;
  outline: 1px solid slategrey;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #adefd1;
}

header{
  height: 6vh;
  background-color: #00203fff;
  margin: 0;
  padding: 0;
  color: #adefd1;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vh;
}

textarea {
    width: 47vw;
    height: 39vh;
    border-radius: 10px;
}
.button-primary{
  background-color: #00203fff;
}
button{
  height: 5vh;
  width: 8vw;
  font-size: 1.2rem;
}
.one{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
  width: 45vw;
}
.one_one{
  flex: 10;
  margin-left: 1vw;
  /* background-color: aqua; */
}
.one_two{
  flex: 1;
  height: 5vh;
  margin-left: 1vw;
}
.uploader{
  /* width: 100%; */
  width: 38vw;
  height: 5vh;
  cursor:pointer;
  background-color: #001d39;
  border-radius: 10px;
  margin: 0 0 0 1vw;
  /* display: none; */
}
.section_1{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 1vw;
  /* height: 8vh; */
}

.two_zero{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 47vw;
  margin-left: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.text_content{
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 47vw;
  margin-right: 1vw;
}
.two_two{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 47vw;
    margin-left: 25vw;

}

.download2{
  margin-left: 1vw;
  margin-bottom: 5vh;
}


.p2{
  /* position: absolute; */
  /* margin-left: 1vw; */
  width: 47vw;  
  height: 48vh;
  border-radius: 10px;
  background-color: #ffffff;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border:0;
  outline: none;
}
.BUTTONDIV{
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.three_one_two{
  height: 5vh;
  width: 8vw;
  
}

.ELEMENT_1{
  grid-area: ELEMENT_1;
  order: 1;
  width: 50vw;
  height: 56vh;
  /* background-color: slateblue; */
}
.ELEMENT_2{
  grid-area: ELEMENT_2;
  order: 2;
  width: 50vw;
  height: 32vh;
  /* background-color: sienna; */
  /* margin-bottom: 10vh; */
}
.ELEMENT_3{
  grid-area: ELEMENT_3;
  order: 3;
  /* margin-left: 50vw; */
  /* margin-top: -56vh; */
  /* background-color: seagreen; */
  width: 48vw;
  height: 85vh;
  margin: 0;
  /* margin-left: 1vw; */
}

.SIDES{
  display: flex;
  flex-direction: row;
}


.text-center {
  text-align: center;
}
.button-success,
.button-success:focus,
.button-success:active {
  color: #fff;
  background-color: #00203f;
  border-color: #00203f;
}
.button-success:hover {
  color: #fff;
  background-color: #001d39;
  border-color: #001d39;
}
.button.button-block {
  width: 100%;
}

.push{
  margin-top: 8vh;
}

h1{
  color: #001d39;
  font-weight: 900;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h6{
  color: #001d39;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.marg{
  margin-right: 1vw;
}

